
  
  .home-container {
    padding: 0;
  }
  
  .main-content {
    text-align: center;
    padding: 40px 20px;
    margin: 20px -165px 5px 0px;
    background: #fff9e3;
  }
  
  .main-title {
    font-size: 3rem;
    font-weight: bold;
    color: #5e412f;
    letter-spacing: -5px;
    
  }
  
  .highlight {
    color: #fa5b0f;
  }
  
  /* Buddy grid */
  .buddies-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 30px;
    padding: 40px 20px;
    max-width: 1100px;
    margin: 0 auto;
  }

  
  .buddy-card {
    text-align: center;
  }
  
  .buddy-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #F8CCB1;
    display: block;
    margin: 0 auto 10px;
  }
  
  
  .buddy-text {
    margin-top: 10px;
    color: #5e412f;
    font-size: 14px;
  }

  