asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
pyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
Pillow
gunicorn==21.2.0
psycopg2-binary==2.9.7
whitenoise==6.6.0
django-cors-headers==4.3.1
dj-database-url==2.1.0
python-decouple==3.8